@import "variables";

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $base-font-family;
  font-size: 1.8rem;
  line-height: 1.5em;
  color: $text-color;
  text-rendering: geometricPrecision;
  background-color: transparent;

  &.modal-active {
    overflow: hidden;

    @media (max-width: $modal-threshold) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  &.menu-open {
    #site-wrapper {
      transform: translate3d(-280px, 0, 0);
      .overlay {
        opacity: 1;
        visibility: visible;
      }
    }
    #site-sidebar {
      transform: translate3d(0, 0, 0);
    }
  }
}

::-moz-selection {
  background: rgba(lighten($material-orange, 15%), 70%);
  color: darken($text-color, 20%);
}

::selection {
  background: rgba(lighten($material-orange, 15%), 70%);
  color: darken($text-color, 20%);
}

h1, h2, h3,
h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  text-rendering: geometricPrecision;
  margin: 0 0 0.4em 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: all 0.24s ease;

  &:hover {
    text-decoration: none;
  }
}

pre {
  tab-size: 2;

  code {
    display: block;
    line-height: 1.5;
    border: 1px solid #ccc;
    background-color: white;
    color: #4d4d4c;
    padding: 10px;
  }
}

::-webkit-input-placeholder {
  color: lighten($grey-color, 20%);
  font-weight: normal;

  @media (prefers-color-scheme: dark) {
    color: darken($dark-mode-text-color, 20%);
  }
}

:-moz-placeholder { /* Firefox 18- */
  color: lighten($grey-color, 20%);
  font-weight: normal;

  @media (prefers-color-scheme: dark) {
    color: darken($dark-mode-text-color, 20%);
  }
}

::-moz-placeholder {  /* Firefox 19+ */
  color: lighten($grey-color, 20%);
  font-weight: normal;

  @media (prefers-color-scheme: dark) {
    color: darken($dark-mode-text-color, 20%);
  }
}

:-ms-input-placeholder {
  color: lighten($grey-color, 20%);
  font-weight: normal;

  @media (prefers-color-scheme: dark) {
    color: darken($dark-mode-text-color, 20%);
  }
}

.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.right {
  float: right;
}
.left {
  float: left;
}

/**
 *  Universal Wrapper
 */
#site-wrapper {
  position: relative;
  min-height: 100%;
  background: $background-color;
  overflow: hidden;
  transition: all 0.24s ease;
  z-index: 10;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-mode-background;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    background-color: rgba($black, 0.3);
    transition: all 0.24s ease;
    visibility: hidden;
    z-index: 9999;
  }
}

/**
  Ad Slots
 */
.google-auto-placed {
  .adsbygoogle {
    margin: 0 auto;
  }
}
.treat-block {
  margin: 30px 0;
  .adsbygoogle {
    margin: 0 auto;
  }
}
