<header id="header">
    <div id="header-wrapper" class="clearfix">
        <a id="logo" href="<%= url_for('/') %>">
            <img src="<%= url_for('/img/logo.png') %>"/>
            <span id="site-desc">
                <%- theme.site_desc %>
            </span>
        </a>
        <button id="site-nav-switch">
            <span class="icon icon-menu"></span>
        </button>
    </div>
</header>