<div id="modal-search">
  <div class="modal">
    <header class="modal-header clearfix">
      <form id="modal-searchform" class="modal-searchform searchform" name="modalSearchform">
        <input type="text" id="modal-searchinput" class="modal-input search_input" />
        <button type="submit" class="search-bar-trigger">
  	      <span class="icon icon-search"></span>
  	    </button>
      </form>
      <a class="close">
        <span class="icon icon-close"></span>
      </a>
      <div class="loading">
        <div class="bar"></div>
      </div>
    </header>
    <main class="modal-body">
      <ul class="results ajax-content" id="modal-search-results">
        
      </ul>
    </main>
    <footer class="modal-footer ajax-content clearfix">
      <div class="meta">
        <strong class="range"></strong> of <strong class="total"></strong>
      </div>
      <div class="error"></div>
      <a class="nav next">
        <span class="text">NEXT</span>
        <span class="icon icon-chevron-right"></span>
      </a>
      <a class="nav prev">
        <span class="icon icon-chevron-left"></span>
        <span class="text">PREV</span>
      </a>
    </footer>
  </div>
  <div class="overlay"></div>
</div>